:root {
  --red: #ed1d24;
  --gold: #fbca03;
}

/* top nav bar */
#head {
  display: block;
  background-color: var(--red);
  display: inline-block;
  width: 95vw;
  border-radius: 5px;
  margin: 8px;
  padding: 10px;
}

.right {
  float: right;
}

#result-check{

}

/* body of quiz */
body {
  font-family: 'Bangers',
    cursive;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h4 {
  margin: 10px;
  padding: 0px;
  font-size: 25px;
}

h4:hover {
  transition-duration: 0.4s;
  color: var(--gold);
}

.center h4 {
  font-size: 45px;
}

#quizBody {
  text-align: center;
  color: black;
  font-size: 35px;
}

/* button styling */
#startBtn {
  border: none;
  background-color: var(--red);
  color: black;
  border-radius: 5px;
  padding: 10px 16px 10px 16px;
  font-size: 28px;
  font-family: 'Bangers',
    cursive;
  margin: 4px;
  cursor: pointer;
}

#startBtn:hover {
  transition-duration: 0.4s;
  color: var(--gold);
}

#quiz {
  text-align: center;
}

/* highscore form */
#name {
  font-family: 'Bangers',
    cursive;
  font-weight: bolder;
  border-width: 1px;
  border-radius: 4px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

